.timeline {
  position: relative;
  padding-left: 50px; /* Increased padding further to create enough space */
}
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1%; /* Positioned vertical line to match dot placement */
  width: 2px;
  height: 100%;
  background-color: #ddd;
}
.timeline-event {
  position: relative;
  padding: 10px 0;
}
.timeline-event::before {
  content: '';
  position: absolute;
  left: -25px; /* Spaced the dot further to the left */
  top: 16px;
  width: 12px; /* Size of the dot */
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
}
.timeline-event h5 {
  margin-left: 0px; /* Added margin-left to event title */
}
.timeline-event p {
  margin-left: 0px; /* Added margin-left to event details */
}

#biographies img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#biographies p {
  text-align: justify;
}

@media (min-width: 768px) {
  #biographies img {
    margin-right: 20px;
  }
}
