.timeline {
  position: relative;
  padding-left: 50px; /* Increased padding further to create enough space */
}
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1%; /* Positioned vertical line to match dot placement */
  width: 2px;
  height: 100%;
  background-color: #ddd;
}
.timeline-event {
  position: relative;
  padding: 10px 0;
}
.timeline-event::before {
  content: '';
  position: absolute;
  left: -25px; /* Spaced the dot further to the left */
  top: 16px;
  width: 12px; /* Size of the dot */
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
}
.timeline-event h5 {
  margin-left: 0px; /* Added margin-left to event title */
}
.timeline-event p {
  margin-left: 0px; /* Added margin-left to event details */
}

#biographies img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#biographies p {
  text-align: justify;
}

.navbar {
  background-color: rgba(253, 253, 253, 0.8); /* White with slight transparency */
  backdrop-filter: blur(10px); /* Applies the blur effect to the content behind */
  -webkit-backdrop-filter: blur(10px); /* Ensures support for Webkit-based browsers */
}

.navbar-light .navbar-nav .nav-link {
  color: #000; /* Ensures the text remains black */
}


#hero {

  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 1;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for contrast */
  z-index: -1;
}

#get-there .card {
  margin: 0 auto; /* Ensures the card stays centered */
}

#get-there img {
  max-width: 100%; /* Makes sure the image stays responsive */
}


@media (min-width: 768px) {
  #biographies img {
    margin-right: 20px;
  }
}
